body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: 'Anek Malayalam', sans-serif;
    font-weight: 600;
}

body {
    /* background: linear-gradient(163deg, rgb(224, 224, 224) 1px, rgb(224, 224, 224) 14px, transparent 14px),  linear-gradient(161deg, rgb(224, 224, 224) 1px, rgb(224, 224, 224) 2px, rgb(224, 224, 224) 15px, transparent 15px),  linear-gradient(343deg, rgb(224, 224, 224) 1px, rgb(224, 224, 224) 14px, transparent 14px),  linear-gradient(343deg, rgb(224, 224, 224) 1px, rgb(224, 224, 224) 14px, transparent 14px);
    background-color:#000;
    background-position: 2px 1px, 23px 16px,48px 15px, 21px 30px;
    background-size: 48px 30px; */
    background-color:#000;
}


h4 {
    color: #fff;
    text-shadow: 0 0 30px #000;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.rrss :hover {
    box-shadow: antiquewhite;
    background-color: #333;
    color: #ddd;
    box-shadow: 0 0 30px #3D29A1;
    border-radius: 16px;
}